.grid{
    background-color: lightcoral;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.icons{
    display: flex;
    justify-content: center;
}

.header{
    background-color: lavender;
    display: flex;
    justify-content: center;
}

body{
    background-color: lightcyan;
}
